.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container .header {
    display: flex;
    font-size: 2rem;
    margin-left: 0.5rem;
}

.container .title {
    text-align: center;
}