body {
    background-color: red; /* Default background color */
    transition: background-color 0.3s ease; /* Smooth transition */
  }
  
  @media (min-width: 500px) {
    body {
      background-color: orange;
    }
  }
  
  @media (min-width: 1000px) {
    body {
      background-color: yellow;
    }
  }
  
  @media (min-width: 1400px) {
    body {
      background-color: green;
    }
  }
  
  @media (min-width: 1600px) {
    body {
      background-color: blue;
    }
  }